<!-- <nav class="navbar is-size-5" role="navigation" aria-label="main navigation">
  <div class="container is-fullhd">
    <div class="navbar-brand">
      <a class="navbar-item is-danger" routerLink="">
        JOURNEYJOURNAL
      </a>

      <button class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <p class="navbar-item">
          <a routerLink="gallery">Gallery</a>
        </p>
        <p class="navbar-item">
          <a routerLink="journeys">Journeys</a>
        </p>
        <p class="navbar-item">
          <a routerLink="about">About</a>
        </p>
        <p class="navbar-item">
          <a routerLink="" class="button is-outlined is-size-5">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</nav> -->
<div class="wrapper-primary navbar-fixed">
    <nav class="container navbar">
      <a class="navbar-logo" routerLink="">
        JOURNEY JOURNAL
      </a>
      <ul class="navbar-list">
        <li class="navbar-list__item">
          <a routerLink="gallery">GALLERY</a>
        </li>
        <li class="navbar-list__item">
          <a routerLink="journeys">JOURNEYS</a>
        </li>
        <li class="navbar-list__item">
          <a routerLink="profile">PROFILE</a>
        </li>
        <li class="navbar-list__item">
          <a routerLink="about">ABOUT</a>
        </li>
      </ul>
  </nav>
</div>
<div class="navbar-clearfix"></div>
<router-outlet></router-outlet>
<app-footer></app-footer>