// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #333F4B,
  secondary:  #ff3860,
  just-white: #ffffff,
  light:      #ebebeb,
  light-btn:  #dedede,
  light-grey: #969DA5,
  accent:     #474F5A,
  dark:       #222,
  facebook:   #3b5998,
  success:    #32db64,
  error:      #e71717
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$text-input-ios-input-clear-icon-color:color($colors, light);
$label-ios-text-color:color($colors, light-grey);
$label-ios-text-color-focused:color($colors, secondary);
$action-sheet-ios-button-text-color:color($colors, dark);
$action-sheet-ios-button-background:color($colors, light);
$action-sheet-ios-button-background-activated:color($colors, light-grey);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$text-input-md-input-clear-icon-color:color($colors, light);
$label-md-text-color:color($colors, light-grey);
$label-md-text-color-focused:color($colors, secondary);
$action-sheet-md-button-text-color:color($colors, dark);
$action-sheet-md-button-background:color($colors, light);
$action-sheet-md-button-background-activated:color($colors, light-grey);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
$text-input-placeholder-color:color($colors, light-grey);

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
