.container{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    padding: 50px;
}
.image-container{
    height: 200px;
    margin:20px;
    max-width:200px;
}
.image-container > img{
    max-height:100%;
    max-width:100%;
}
.modal-body > img {
    max-height:100%;
    max-width:100%; 
}