/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Ubuntu');
@import './variables.less';

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav{
    background-color: @second;
    color: @third; 
    height:100%;
    width:@nav-width;
    min-width:@nav-min-width;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}
.disabled{
    color: grey;
}
.disabled:hover{
    color: grey;
}
.logo{
    font-family: @logo-font;
    font-size: @logo-size;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom:60px;
}
.logo{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.link{
    color: @third; 
}
.link:hover{
    color:@primary;
}
.list{
    list-style: none;
    font-family: @primary-font;
    font-size: @nav-font-size;
}
.list>li{
    margin:15px 0px;
}
.list>.link:hover{
    color:@primary;
}
.content{
    padding-top:100px;
    background-color: @primary;
    height:100%;
    width:100%-@nav-width;
    color:@second;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size:40px;
    -webkit-box-shadow: inset 39px 0px 96px -36px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 39px 0px 96px -36px rgba(0,0,0,0.75);
    box-shadow: inset 39px 0px 96px -36px rgba(0,0,0,0.75);
        overflow: scroll;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px;
    background-color: @second; 
    color: @third;
    -webkit-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.75);
    font-size:20px;
    width:300px;
}
button, button:hover{
    background-color: @third;
    color:@second;
    border: 0px solid @second;
    padding: 5px 20px;
    margin-top:10px;
    align-self: flex-end;
    width: 100%;
}
button:hover{
    opacity:0.8;
    transition: all 0.5s ease; 
}
input{
    background-color: inherit;
    border:0px solid black;
    border-bottom: 1px solid @third;
    width:100%;
    margin-bottom:10px;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:300px;
}
.form-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width:300px;
}
.form-nav-btn{
    background-color: @third;
    width:50%;
    height:38px;
    color: @second;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-nav-btn-active{
    background-color: @second;
    color: @third;   
    height: 45px;
}
.facebook-login{
    width:300px;
    height:60px;
    background-color: @second;
    color: darkblue;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    -webkit-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.75);
}
.facebook-login > span:hover {
    opacity:0.8;
    transition: all 0.5s ease; 
}
.journey{
    font-family: @primary-font;
    padding: 30px;
    margin: 20px;
    background-color: @second;
    color: @third;
    transition: all 0.3s ease-out;
    min-width: 500px;
    min-height: 200px;

    &:hover{
        border-left: 8px solid @third;
    }
    h3{
        border-bottom: 5px solid @primary;
        width:20px;
        transition: all 0.4s ease-out;
    }
    &:hover h3{
        width:200px
    }
    p{
        padding:10px;
        font-size: 25px;
    }
}