/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Ubuntu');
@import './variables.less';

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

