<section class="hero is-danger">
  <div class="container is-fullhd">
    <div class="hero-body">
      <p class="title">
        Journeys
      </p>
      <p class="subtitle">
        Explore all your past <strong>journeys</strong>.
      </p>
    </div>
  </div>
</section>
<section class="hero is-white">
  <div class="container is-fullhd">
    <div class="hero-body">
      <p class="title">
        Filters
      </p>
      <p class="subtitle">
        TODO: place filters here.
      </p>
    </div>
  </div>
</section>
<cl-image 
  public-id="sample" 
  class="thumbnail inline" 
  format="jpg">
</cl-image>
