page-settings {

  .nav-title {
    .toolbar-title {
      color: color($colors, secondary);
    }
  }

  .main-content {
    background: color($colors, primary);

    .cards-list {

      .cards-header {
        font-size: 2.4rem;
      }
      
      .settings-list {
        margin-bottom: 10px;

        .first-btn {
          padding-left: 14px;
        }

        .range-btn {
          padding-left: 10px;
        }

        .range-badge {
          width: 38px;
        }

        .range-list {
          padding: 0;
          border-top: 3px solid #ffffff;
          border-left: 18px solid #ffffff;
          border-right: 18px solid #ffffff;
        }
      }
    }
  }
}