page-settings {

  .main-content {
    background: color($colors, light);

    .cards-list {

      .cards-header {
        font-size: 6vw;
      }
      
      .settings-list {
        margin-bottom: 10px;

        ion-item {
          border: 0;
        }

        .settings-btn {
          padding-left: 16px;
          border-top: 0;

          .settings-icon {
            color: color($colors, secondary);
            margin: 10px 0px 10px 0px;
            text-align: center;
            min-width: 24px;
          }

          .item-inner {
            border-bottom: 1px solid color($colors, light-btn);
            margin-left: 15px;
          }

          .settings-toggle {
            padding: 6px 15px 5px 0;
          }
        }

        .first-btn {
          padding-left: 14px;
        }

        .last-item {
          border: 0;

          .item-inner {
            border-bottom: 0;
          }

          .settings-toggle {
            padding: 6px 15px 5px 0;
          }
        }
      }
    }
  }
}