page-settings {

  .nav-title {
    .toolbar-title {
      color: color($colors, secondary);
    }
  }

  .main-content {
    background: color($colors, primary);

    .cards-list {

      .cards-header {
        font-size: 2.8rem;
      }
      
      .settings-list {
        margin-bottom: 10px;

        .first-btn {
          padding-left: 14px;
        }
      }
    }
  }
}