page-editJourney {
  
  .main-content {
    background: color($colors, primary);
  
    ion-col {
      padding: 3px;
    }
  
    .editJourney-box {
      padding: 30px 10px 10px 10px;
  
      .editJourney-list {
        margin: 5px 15px 10px 15px;

        .list-grid {
          padding: 0;
  
          .list-col {
            padding: 0;
          }
        }
  
        .list-item {
          padding: 20px 0px 0px 0px;
          background: color($colors, primary);
          color: color($colors, just-white);

          .list-label {
            margin-left: 8px;
          }

          .text-input {
            margin: 8px 8px 13px 8px;
          }

          .item-inner {
            padding: 0;
          }
        }
      }
  
      .editJourney-col {
        margin: 25px 15px 0px 15px;
      }

      .or-col {
        margin: 0px 15px 0px 15px;

        h2 {
          width: 100%; 
          text-align: center; 
          border-bottom: 1px solid color($colors, light);
          line-height: 0.3em;
          margin: 0px 0px 10px; 
        } 
       
        h2 span {
          font-size: 14px;
          color: color($colors, light);
          background: color($colors, primary);
          padding: 0 10px; 
        }
      }

      .dismiss-col {
        margin: 0px 15px 0px 15px;

        .dismiss-btn {
          font-size: 0.9em;
          margin-top: 0px;
          color: color($colors, secondary);
        }
      }
    }

    // Android -> the last item from the list had border
    .list .item-input:last-child {
      border-bottom: 0;
    }

    // iOS -> the first item from the list had border
    .list .item-block:first-child {
      border-top: 0;
    }
  }

  // Input highlight color
  .item.item-input .item-inner {
    border-bottom-color: color($colors, light-grey) !important;
    box-shadow: inset 0 -1px 0 0 color($colors, light-grey) !important;
  }

  .item.item-input.input-has-focus .item-inner {
    border-bottom-color: color($colors, secondary) !important;
    box-shadow: inset 0 -1px 0 0 color($colors, secondary) !important;
  }

  .item.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: color($colors, light-grey) !important;
    box-shadow: inset 0 -1px 0 0 color($colors, light-grey) !important;
  }
}