page-largeImage {

  .largeImage-nav {
    .toolbar-background {
      background: rgba(0, 0, 0, 0.5);
    }

    .bar-buttons[left] {
      .nav-btn {
        margin-right: 6px;
        min-width: 44px;
      }

      .tool-btn {
        margin: 0px 20px;
        min-width: 44px;
      }
    }

    .bar-buttons[right] {
      .tool-btn {
        margin: 0px 20px;
        min-width: 44px;
      }
    }
  }

  .largeImage-content {
    background: color($colors, dark);
  }
}
