<ion-header no-border *ngIf="isEnable">
  <ion-navbar color="dark" class="largeImage-nav">
    <ion-buttons left>
      <button ion-button icon-only class="nav-btn" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" overflow-scroll="true" class="largeImage-content">

  <ion-slides initialSlide="{{initial}}" centeredSlides="true" zoom="true" spaceBetween="20" (ionSlideDrag)="closeMenu()">
    <ion-slide *ngFor="let image of images" (click)="openMenu(image._id, image.title, image.isFavourite)">
      <div class="swiper-zoom-container">
        <cl-image [public-id]=image._id format="jpg">
          <cl-transformation width="1280" height="720" quality="100" crop="fit">
          </cl-transformation>
        </cl-image>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer no-border *ngIf="isEnable">
  <ion-toolbar color="dark" class="largeImage-nav">
    <ion-buttons left>
      <button ion-button icon-only class="tool-btn" (click)="editImage()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only class="tool-btn" (click)="setBackground()">
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button *ngIf="isFavourite" ion-button icon-only class="tool-btn" (click)="favouriteImage()">
        <ion-icon name="star"></ion-icon>
      </button>
      <button *ngIf="!isFavourite" ion-button icon-only class="tool-btn" (click)="favouriteImage()">
        <ion-icon name="star-outline"></ion-icon>
      </button>
      <button ion-button icon-only class="tool-btn" (click)="deleteImage()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
