page-detailsJourney {

  .menu-btn {
    margin-right: 10px;
  }

  .main-content {
    background: color($colors, light);

    ion-row {
      align-items: center;
      text-align: center;
    }

    .detailsJourney-box {
      margin-top: 10px;

      .detailsJourney-col {
        padding-top: 20px;
      }
    }
  }
}

.action-sheet-md {
  .action-sheet-wrapper {
    .action-sheet-container {
      padding: 0;

      .action-sheet-title {
        color: color($colors, just-white);
        background-color: color($colors, primary);
        padding: 16px;
      }

      .action-sheet-button {
        border-bottom: 1px solid color($colors, light-btn);
      }
    }
  }
}

.action-sheet-ios {
  .action-sheet-wrapper {
    .action-sheet-container {

      .action-sheet-title {
        color: color($colors, just-white);
        background-color: color($colors, primary);
        padding: 16px;
      }

      .action-sheet-button {
        border-bottom: 1px solid color($colors, light-btn);
      }
    }
  }
}

.success {
  .toast-wrapper {
    background: color($colors, success);
  }
}

.error {
  .toast-wrapper {
    background: color($colors, error);
  }
}
