page-detailsJourney {

  .detailsJourney-content {
    background: #ebebeb;

    .detailsJourney-box {
      margin-top: 10px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     .detailsJourney-col {
       padding-top: 20px;
     }
  }
}
