<div class="card">
  <div class="form-nav">
    <div class="form-nav-btn" [ngClass]="{'form-nav-btn-active': isSelected(1)}" (click)="setTab(1)">Login</div>
    <div class="form-nav-btn" [ngClass]="{'form-nav-btn-active': isSelected(2)}" (click)="setTab(2)">Sign up</div>
  </div>
  <div [ngSwitch]="tab">
    <div class="login-form" *ngSwitchCase="1">
      <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" ngModel>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" ngModel>

        <button type="submit">Login</button>
      </form>
    </div>
    <div class="login-form" *ngSwitchCase="2">
      <form #signupForm="ngForm" (ngSubmit)="signUpUser(signupForm)">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" ngModel>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" ngModel>
  <!--
        <label for="vpassword">Valid password</label>
        <input type="password" name="vpassword" id="vpassword" ngModel>
  -->
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div> 
</div>
<a href="http://localhost:8080/auth/facebook">
  <div class="facebook-login">
    <span>Continue with Facebook</span>
  </div>
</a>
<div class="facebook-login" (click)="authDropbox()">
  <span>Get dropbox token</span>
</div>