<div id="wrapper">
  <nav id="nav-panel">
    <div class="logo">
      <a routerLink="">
        <span class="link">Journey Journal</span>
      </a>
    </div>
    <ul>
      <li><a routerLink="journeys"><span class="link">Journeys</span></a></li>
      <li><a routerLink="summary"><span class="link">Summary</span></a></li>
      <li><a routerLink="profile"><span class="link">Profile</span></a></li>
      <li><a routerLink="about"><span class="link">About</span></a></li>
    </ul>
  </nav>
  <div id="content">
  <router-outlet></router-outlet>
  </div>
</div>