<div class="wrapper">
  <nav class="nav">
    <div class="logo">
      <a class="link" routerLink="">
        <span>Journey Journal</span>
      </a>
    </div>
    <ul class="list">
      <li><a class="link" routerLink="journeys"><span [ngClass]="{disabled: !isLogged}">Journeys</span></a></li>
      <li><a class="link" routerLink="summary"><span [ngClass]="{disabled: !isLogged}">Summary</span></a></li>
      <li><a class="link" routerLink="profile"><span [ngClass]="{disabled: !isLogged}">Profile</span></a></li>
      <li><a class="link" routerLink="about"><span [ngClass]="{disabled: !isLogged}">About</span></a></li>
    </ul>
  </nav>
  <div class="content">
  <router-outlet></router-outlet>
  </div>
</div>
