page-login {

  .main-content {
    background: color($colors, primary);

    ion-col {
      padding: 3px;
    }

    .logo-row {
      align-items: center;
      text-align: center;

      .logo-col {
        padding: 0;
      }
    }

    .login-box {
      padding: 0px 10px 10px 10px;

      .facebook-box {
        padding: 0px 20px 0px 20px;

        .facebook-row {
          border-bottom: 1px solid color($colors, light);

          .facebook-icon {
            font-size: 48px;
            color: color($colors, just-white);
          }

          .facebook-btn-col {
            margin: 1px 0px 2px 0px;
            padding-bottom: 10px;

            .facebook-btn {
              background: color($colors, facebook);
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .login-list {
        margin: 5px 15px 10px 15px;
  
        .list-item {
          background: color($colors, primary);
          color: color($colors, just-white);

          .text-input {
            margin: 13px 8px 13px 8px;
          }
        }
      }

      .signin-col {
        margin: 0px 20px 0px 20px;
      }

      .or-col {
        margin: 0px 20px 0px 20px;

        h2 {
          width: 100%; 
          text-align: center; 
          border-bottom: 1px solid color($colors, light);
          line-height: 0.3em;
          margin: 0px 0px 10px; 
        } 
       
        h2 span {
          font-size: 14px;
          color: color($colors, light);
          background: color($colors, primary);
          padding: 0 10px; 
        }
      }

      .signup-col {
        margin: 0px 20px 0px 20px;

        .register-btn {
          font-size: 0.9em;
          margin-top: 0px;
          color: color($colors, secondary);
        }
      }
    }

    // Android -> the last item from the list had border
    .list .item-input:last-child {
      border-bottom: 0;
    }

    // iOS -> the first item from the list had border
    .list .item-block:first-child {
      border-top: 0;
    }
  }

  // Input highlight color
  .item.item-input .item-inner {
    border-bottom-color: color($colors, light-grey) !important;
    box-shadow: inset 0 -1px 0 0 color($colors, light-grey) !important;
  }

  .item.item-input.input-has-focus .item-inner {
    border-bottom-color: color($colors, secondary) !important;
    box-shadow: inset 0 -1px 0 0 color($colors, secondary) !important;
  }

  .item.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: color($colors, light-grey) !important;
    box-shadow: inset 0 -1px 0 0 color($colors, light-grey) !important;
  }
}

.success {
  .toast-wrapper {
    background: color($colors, success);
  }
}

.error {
  .toast-wrapper {
    background: color($colors, error);
  }
}