page-login {

  .login-content {
    background: #333F4B;

    .logo {
      padding-top: 15px;
      align-items: center;
      text-align: center;
    }

    .login-box {
      margin-top: 25px;
    }

    ion-item {
      font-size: 1.0em;
      margin-bottom: 5px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 20px 0px 20px;
      padding-bottom: 10px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.9em;
      margin-top: 0px;
    }

    .facebook-icon {
      font-size: 48px;
      color: #ffffff;
    }

    .facebook-row {
      border-bottom: 1px solid #ffffff;
    }

    .facebook-btn {
      background: #3b5998;
    }

    .facebook-btn-col {
      margin: 2px 0px 0px 0px;
    }

    .facebook-box {
      padding: 0px 20px 0px 20px;
    }

    .col {
      padding: 3px;
    }
    
    .list-md[inset] {
      margin-top: 8px;
      margin-bottom: 5px;
    }
  }
}
