<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Journey Journal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab [navPush]="addTravelPage">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngFor="let travel of travels">
    <!-- <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar> -->

    <!--<app-journey *ngFor="let travel of travels" [travel]='travel'></app-journey>-->
    <ion-card>
      <ion-item>
          <h1>{{ travel.title }}</h1>
      </ion-item>

      <ion-item>
          <span item-left><i>{{ travel.date_start | date:short}} - {{ travel.date_end | date:short}}</i></span>
      </ion-item>
      <ion-item>
        <button ion-button icon-left clear item-right large (click)="detailsTravel(travel._id)">
              <ion-icon name="md-images"></ion-icon>
              More
        </button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
