page-help {

  .main-content {
    background: #ebebeb;
    
    .help-list {
      
      .help-item {
        border-bottom: 1px solid white;
        
        .help-btn {
          
          div.item-inner {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
