page-help {

  .main-content {
    background: color($colors, light);
    
    .help-list {
      
      .help-item {
        border-bottom: 1px solid color($colors, just-white);
        
        .help-btn {
          
          div.item-inner {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
