<section class="hero is-info">
  <div class="container is-fullhd">
    <div class="hero-body">
      <p class="title">
        Gallery
      </p>
      <p class="subtitle">
        The best <strong>photos</strong> from your <strong>journeys</strong>
      </p>
    </div>
  </div>
</section>
<section class="hero is-light">
  <div class="container is-fullhd gallery-container">
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
    <app-polaroid></app-polaroid>
  </div>
</section>