<div>
  <form #passChangeForm="ngForm" (ngSubmit)="changePassword(passChangeForm)">
    <label for="oldPassword">Old password</label>
    <input type="password" name="oldPassword" id="oldPassword" ngModel>

    <label for="newPassword">New password</label>
    <input type="password" name="newPassword" id="newPassword" ngModel>

    <label for="confirmPassword">Confirm password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" ngModel>

    <button type="submit">Change Password</button>
  </form>
</div>