<div class="container">
    <nav class="options-list">
        <ul>
            <li><a routerLink="email">Change mail</a></li>
            <li><a routerLink="password">Change password</a></li>
            <li><a routerLink="addFacebookAuth">Add facebook authorization</a></li>
            <li><a routerLink="addEmailAuth">Add email and password</a></li>
            <li>Add ... (to be continued) </li>
        </ul>
    </nav>
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>