page-register {

  .register-content {
    background: #333F4B;

    .register-box {
      margin-top: 20px;
    }

    ion-item {
      font-size: 1.0em;
      margin-bottom: 5px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 20px 0px 20px;
      padding-bottom: 10px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .col {
      padding: 3px;
    }
    
    .list-md[inset] {
      margin-top: 8px;
      margin-bottom: 5px;
    }
  }
}
