page-register {

  .nav-title {
    .toolbar-title {
      color: color($colors, secondary);
    }
  }

  .main-content {
    background: #333F4B;

    ion-col {
      padding: 3px;
    }

    .register-box {
      margin-top: 20px;

      ion-list[inset] {
        margin-top: 8px;
        margin-bottom: 5px;
        border-radius: 0px;

        ion-item {
          font-size: 1.0em;
          margin-bottom: 5px;
          border: 1px solid #ffffff;
          border-bottom: 0px !important;
          box-shadow: none !important;

          .text-input {
            margin: 13px 8px 13px 8px;
          }

          div.item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
          }
        }
      }

      .signup-col {
        margin: 0px 20px 0px 20px;
        padding-bottom: 10px;
      }
    }
  }
}
