<!-- <section class="hero is-success">
  <div class="container is-fullhd">
    <div class="hero-body">
      <p class="title" uppercase>
        JOURNAL OF YOUR JOURNEY
      </p>
      <p class="subtitle">
        Store all <strong>memories</strong> from place where you've been!
      </p>
    </div>
  </div>
</section> -->

<section class="wrapper-primary">
  <div class="container home home__landing">
    <div class="home__landing-content">
      <h1>JOURNAL OF YOUR JOURNEY</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, dolorum ad. Corporis soluta exercitationem voluptate provident sapiente voluptatjhjgjhibus sint doloremque officiis, maxime tenetur aut fugiat non nulla quia dicta modi!
        Dolore suscipit totam nulla! Minima magnam reiciendis perspiciatis nihil voluptate doloribus doostrum delectus deserunt optio voluptatibus tempore quisquam aperiam aliquid dolores quos repellat culpa?
      </p>
      <app-login></app-login>
    </div>
    <div class="home__landing-image">
      <i class="fa fa-globe" aria-hidden="true"></i>
    </div>
  </div>
</section>
<section class="wrapper-white">
  <div class="container home home__offer">
    <h1>WHAT EXACTLY OUR JOURNAL OFFERS?</h1>
    <div class="home__offer-list">
      <div class="home__offer-list__item">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <h1>Storing Photos ...</h1>
        <p>
         You can store photos from all your small and big trips without fear of losing any data. We use Cloudinary to provide You with quick photos uploading and downloading service.
        </p>
      </div>
      <div class="home__offer-list__item">
        <i class="fa fa-map-o" aria-hidden="true"></i>
        <h1>... Places ...</h1>
        <p>
          We remember exact places where Your photos where taken so You can go back to this wonderful places and see where have You been!
        </p>
      </div>
      <div class="home__offer-list__item">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <h1>... and more!</h1>
        <p>
          As well as storing photos and places we have bunch of other staff like journey date, social sharing or gallery with favourite photos from all Your journeys!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="wrapper-white">
  <div class="container home home__about">
    <h1>HOW DOES IT WORKS?</h1>
    <div class="home__about-list">
      <div class="home__about-list__item">
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
        <div class="home__about-list__item-content">
          <h1>Create Journey</h1>
          <p>
            You can store photos from all your small and big trips without fear of losing any data. We use Cloudinary to provide You with quick photos uploading and downloading service.
          </p>
        </div>
      </div>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
      <div class="home__about-list__item">
        <i class="fa fa-camera-retro" aria-hidden="true"></i>
        <div class="home__about-list__item-content">
          <h1>Take photos</h1>
          <p>
            You can store photos from all your small and big trips without fear of losing any data. We use Cloudinary to provide You with quick photos uploading and downloading service.
          </p>
        </div>
      </div>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
      <div class="home__about-list__item">
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <div class="home__about-list__item-content">
          <h1>Manage, edit, share!</h1>
          <p>
            You can store photos from all your small and big trips without fear of losing any data. We use Cloudinary to provide You with quick photos uploading and downloading service.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>