page-journeys {

  .main-content {
    background: #ebebeb;

    .journeys-list {

      .journeys-sliding {
        margin-top: 15px;

        .journeys-item {
          padding: 0px !important;
  
          .item-title {
            font-size: 2.0em;
            position: absolute;
            bottom: 15%;
            left: 5%;
            width: 90%;
            font-weight: bold;
            color: #fff;
            border-top: 1px solid #ffffff;
          }
          
          .item-subtitle {
            font-size: 1.0em;
            position: absolute;
            bottom: 5%;
            left: 5%;
            width: 90%;
            color: #fff;
          }
        }
      }
      
      .label {
        margin: 0px !important;
      }
      
      .item-inner {
        padding: 0px !important;
      }
      
      .item-options {
        border: 0px;
      }

      .options-btn {
        margin: 0px;
        height: 100%;
      }
    }
  }
}