page-journeys {

  .bar-buttons[end] {
    padding-left: 6px;
    padding-right: 6px;
  }

  .searchbar-search-icon {
    display: none;
    width: 0;
    height: 0;
  }

  .searchbar-md .searchbar-input {
    padding: 6px 10px;
    padding-right: 35px;
  }

  .search-btn {
    margin-right: 5px;
  }

  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0;
  }

  .main-content {
    background: #ebebeb;

    .journeys-list {

      .journeys-sliding {
        margin-top: 15px;

        .journeys-item {
          padding: 0px !important;
          background: #ebebeb;
  
          .item-title {
            font-size: 6vw;
            white-space: normal;
            position: absolute;
            bottom: 15%;
            left: 5%;
            width: 90%;
            font-weight: bold;
            color: #fff;
            border-top: 1px solid #ffffff;
          }
          
          .item-subtitle {
            font-size: 3.5vw;
            position: absolute;
            bottom: 5%;
            left: 5%;
            width: 90%;
            color: #fff;
          }
        }
      }
      
      .label {
        margin: 0px !important;
      }
      
      .item-inner {
        padding: 0px !important;
      }
      
      .item-options {
        border: 0px;
        background: #ebebeb;
      }

      .options-btn {
        margin: 0px;
        height: 98%;
        min-height: 98%;
      }
    }
  }
}

.success {
  .toast-wrapper {
    background: #32db64;
  }
}