page-journeys {

  .bar-buttons[end] {
    margin: 0;

    .search-btn {
      margin: 0px 6px 0px 6px;
      padding: 0px 5px 0px 5px;
      display: inline-block;

      .btn-icon {
        margin: 0;
        padding: 0px 6px;
        font-size: 2.4rem;
        font-weight: normal;
        text-align: left;
      }
    }
  }

  .searchbar-search-icon {
    display: none;
    width: 0;
    height: 0;
  }

  .searchbar .searchbar-input {
    padding: 6px 35px 6px 10px;
  }

  .searchbar-ios.searchbar-left-aligned .searchbar-input {
    padding-left: 10px;
  }

  .searchbar .searchbar-clear-icon {
    right: 10px;
  }

  .list .item-block:last-child,
  .list .item-wrapper:last-child .item-block {
    border-bottom: 0;
  }

  .nav-title {
    .toolbar-title {
      color: color($colors, secondary);
    }
  }

  .main-content {
    background: color($colors, primary);

    .journeys-list {
      padding: 5px 20px 0px 20px;

      .journeys-sliding {
        margin-top: 15px;
        height: 57.5vw;
        background: color($colors, primary);

        .journeys-item {
          padding: 0px !important;
          background: color($colors, just-white);
          height: 57.5vw;

          .journeys-card {
            background: linear-gradient(color($colors, primary), color($colors, secondary));
            height: 52vw;

            .item-title {
              font-size: 10vw;
              white-space: normal;
              font-weight: bold;
              color: color($colors, just-white);
              text-align: center;
              padding-top: 15vw;
            }
            
            .item-subtitle {
              font-size: 3.5vw;
              color: color($colors, just-white);
              text-align: center;
            }
          }
        }
      }
      
      .label {
        margin: 0px !important;
      }
      
      .item-inner {
        padding: 0px !important;
      }
      
      .item-options {
        border: 0px;
        background: color($colors, primary);
      }

      .options-btn {
        margin: 0px;
        height: 100%;
      }
    }
  }
}