<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!showSearchbar">Journeys</ion-title>
    <ion-searchbar *ngIf="showSearchbar" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button class="search-btn" ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Main content -->
<ion-content overflow-scroll="true" class="main-content" padding>

  <!-- Add button (fab) -->
  <ion-fab right bottom>
    <button ion-fab [navPush]="addJourneyPage">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <!-- List of journeys -->
  <ion-list class="journeys-list">
    <!-- The look of the journey -->
    <ion-item-sliding class="journeys-sliding" *ngFor="let journey of journeys" #slidingItems>
      <ion-item class="journeys-item">
        <img src="assets/img/example.jpg" (click)="detailsJourney(journey._id, journey.title)">
        <div class="item-title">{{ journey.title }}</div>
        <div class="item-subtitle"><i>{{ journey.date_start | date:'dd.MM.yyyy'}} - {{ journey.date_end | date:'dd.MM.yyyy'}}</i></div>
      </ion-item>
      <!-- Slide options -->
      <ion-item-options class="item-options" (ionSwipe)="deleteConfirm(journey._id, slidingItems)">
        <button class="options-btn" ion-button color="primary" (click)="editJourney(journey._id, slidingItems)">
          <ion-icon name="clipboard"></ion-icon>
            <div>Edit</div>
        </button>
        <button class="options-btn" ion-button color="danger" expandable (click)="deleteConfirm(journey._id, slidingItems)">
          <ion-icon name="trash"></ion-icon>
            <div>Delete</div>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>