<ion-header>
  <ion-navbar *ngIf="!showSearchbar" color="just-white">
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="nav-title">Journeys</ion-title>
    <ion-buttons right>
      <button class="search-btn" ion-button icon-only (click)="toggleSearchbarOn()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar *ngIf="showSearchbar" color="just-white">
    <ion-buttons left>
      <button class="search-btn" ion-button icon-only (click)="toggleSearchbarOff()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar class="search-bar" [(ngModel)]="searchQuery" (ionInput)="getItems($event)" #search></ion-searchbar>
  </ion-navbar>
</ion-header>

<!-- Main content -->
<ion-content overflow-scroll="true" class="main-content">

  <ion-refresher pullMin="45" pullMax="90" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="crescent"
      pullingIcon="refresh">
    </ion-refresher-content>
  </ion-refresher>

  <!-- List of journeys -->
  <ion-list class="journeys-list">
    <!-- The look of the journey -->
    <ion-item-sliding class="journeys-sliding" *ngFor="let journey of journeys" #slidingItems>
      <ion-item class="journeys-item" (click)="detailsJourney(journey._id, journey.title)">
        <ion-card class="journeys-card">
          <ion-card-header class="item-title">
            {{ journey.title }}
          </ion-card-header>
          <ion-card-content class="item-subtitle">
            <i>{{ journey.date_start | date:'dd.MM.yyyy'}} - {{ journey.date_end | date:'dd.MM.yyyy'}}</i>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <!-- Slide options -->
      <ion-item-options class="item-options" (ionSwipe)="deleteConfirm(journey._id, journey.title, slidingItems)">
        <button class="options-btn" ion-button color="light" (click)="editJourney(journey._id, journey.title, slidingItems)">
          <ion-icon name="clipboard"></ion-icon>
            <div>Edit</div>
        </button>
        <button class="options-btn" ion-button color="error" expandable (click)="deleteConfirm(journey._id, journey.title, slidingItems)">
          <ion-icon name="trash"></ion-icon>
            <div>Delete</div>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Add button (fab) -->
  <ion-fab bottom right>
    <button color="light" ion-fab (click)="addJourney()">
      <ion-icon color="secondary" name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>